display:flex
flex-direction:row
justify-content:flex-end

head{color:beige}
h2 { border: 2px solid #ff0000; }

body{color:yellow}

#special-pic {
    box-shadow: 3px 3px yellow;
}


img{
    box-shadow: 5px 5px #666666;
}